<div class="container">
    <h1>Perfil del usuario</h1>
    <hr />
    <div class="card mt-3" style="max-width: 540px;" *ngIf="auth.userProfile$ | async as profile">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ profile.picture }}" class="card-img" alt="img" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ profile.name }}</h5>
                    <p class="card-text">{{ profile.email }}</p>
                    <p class="card-text" *ngIf="profile.email_verified">
                        <small class="text-success">Email verificado</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>